.conditions {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   max-width: 600px;
   background-color: #3c404c;
   color: white;
   padding: 1rem 20px;
   font-size: 0.875rem;
}

.conditions__action {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.conditions a {
   color: var(--secondary-tigo);
   text-decoration: none;
}

.conditions p:nth-of-type(2) {
   display: none;
}

.conditions__action-read,
.conditions__action-btn {
   color: var(--secondary-tigo);
}

.conditions__action-read {
   display: flex;
   align-items: center;
   font-size: .75rem;
   font-weight: 700;
   cursor: pointer;
}

.conditions__action-read img {
   width: 1.125rem;
   pointer-events: none;
}

.conditions__action-btn {
   padding: .375rem .75rem;
   background-color: transparent;
   border-radius: 99rem;
   font-size: .875rem;
   line-height: 1.5;
   font-weight: 700;
   border: 1px solid #00c8ff;
}

.rotate {
   transform: rotate(180deg);
}

@media screen and (min-width: 767px) {
   .conditions {
      bottom: 1rem;
      left: 1rem;
      display: flex;
   }

   .conditions p:nth-of-type(1) {
      display: none;
   }

   .conditions p:nth-of-type(2) {
      display: block;
   }

   .conditions__action-read {
      display: none;
   }
}