.footer {
   background: var(--primary-tigo);
   color: var(--white);
}

.footer .wrapper {
   padding: 2rem 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}

.footer__link {
   font-size: 16px;
   color: #fff;
   font-weight: 600;
}

.footer__paragraph {
   text-align: center;
   font-size: 13px;
}

.footer__list-icons {
   display: flex;
   padding: 0;
   margin: 0;
   gap: 10px;
}

.footer__list-icons li {
   list-style: none;
}

.footer__section-3 {
   display: flex;
   gap: 0.625rem;
   align-items: center;
}


.footer__section-1 {
   font-size: 12px;
   text-align: center;
   margin: 0;
}

.separator {
   display: none;
}

@media screen and (min-width: 1023px) {
   .footer .wrapper {
      flex-direction: row;
      gap: 2rem;
   }

   .footer__section-1 {
      text-align: left;
   }

   .separator {
      display: block;
   }
}
