.pass-number-container {
   padding: 90px 1rem;
}

.pass-number {
   text-align: center;
}

.pass-number h2 {
   font-size: 28px;
   color: var(--primary-tigo);
   font-weight: 400;
}

.pass-number p {
   color: var(--tertiary-tigo);
}

.pass-number__body {
   color: var(--tertiary-tigo);
}

.pass-number__item {
   padding: 1.8rem;
   border-bottom: 1px solid #e5eaf2;
}

.pass-number__item:last-child {
   border: none;
}

@media screen and (min-width: 767px) {
   .pass-number-container {
      padding: 6rem 1.5rem;
   }

   .pass-number h2 {
      font-size: 34px;
      color: var(--primary-tigo);
   }

   .pass-number__body {
      display: flex;
   }

   .pass-number__item {
      padding: 1.8rem;
      border: 0;
      border-right: 1px solid #e5eaf2;
   }
}