.tab input {
   position: absolute;
   opacity: 0;
   z-index: -1;
}

.tab-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   color: var(--primary-tigo);
   pointer-events: none;
}

.tab-info__content-1 {
   text-align: left;
}

.tab-info__content-2 {
   margin-right: 0.5rem;
}

.tab-info__content-1 div:nth-of-type(1) {
   font-size: 0.6875rem;
}

.tab-info__content-1 div:nth-of-type(2) {
   font-size: 1.125rem;
   font-weight: 400;
}

/* Accordion styles */
.tabs {
   display: flex;
   flex-direction: column;
   gap: 2.5rem;
}

.tab {
   width: 100%;
   color: white;
   overflow: hidden;
   border-radius: .25rem;
   box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, .1);
}

.tab-label {
   display: flex;
   justify-content: space-between;
   padding: 1em;
   cursor: pointer;
   /* Icon */
}

.tab-label::after {
   content: "";
   position: relative;
   top: 0.625rem;
   background-image: url('../../imgs/icons/icon__arrow.svg');
   background-repeat: no-repeat;
   background-size: cover;
   width: 1.5rem;
   height: 1.5rem;
   text-align: center;
   /*transition: all 0.35s;*/
   color: var(--secondary-tigo);
}

.tab-content {
   max-height: 0;
   padding: 0 1em;
   color: #000;
   background: white;
   transition: 350ms;
   /*transition: all 0.35s;*/
}

.tab-close {
   display: flex;
   justify-content: flex-end;
   padding: 1em;
   font-size: 0.75em;
   background: #2c3e50;
   cursor: pointer;
}

.tab input:checked + .tab-label::after {
   transform: rotate(180deg);
}

.tab input:checked ~ .tab-content {
   max-height: 100vh;
   padding: 4px;
}

.tab label {
   margin-bottom: 0;
}

.tab-content > a {
   font-size: 14px;
   color: var(--secondary-tigo);
}

.tab-content__items {
   padding: 0;
   margin: 0;
}

.tab-content__items {
   list-style: none;
}

.tab-content__items li {
   padding: 8px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 8px;
   color: var(--tertiary-tigo);
   font-size: 14px;
}

.tab-content__items span {
   text-align: left;
}

.tab-content__header-1,
.tab-content__header-2,
.tab-content__header-3 {
   display: none;
}

.tab-terms {
   color: var(--tertiary-tigo);
}

.tab-terms__items {
   list-style: none;
}

.tab-terms__items li::before {
   content: '\2022';
   display: inline-block;
   padding-right: 12px;
   width: 15px;
   margin-left: -0.9375rem;
   font-size: 20px;
   color: var(--tertiary-tigo);
}

.tab-terms__items a {
   color: var(--secondary-tigo);
}

.terms .tab-label::after {
   content: "";
   position: relative;
   top: 1px;
   background-image: url('../../imgs/icons/icon__arrow.svg');
   background-repeat: no-repeat;
   background-size: cover;
   width: 1.5rem;
   height: 1.5rem;
   text-align: center;
   /*transition: all 0.35s;*/
}

.terms .tab {
   border-bottom: 1px solid #e5eaf2;
   box-shadow: none;
}

.cards-desk {
   display: none;
}

@media screen and (min-width: 959px) {
   .cards-mob {
      display: none;
   }

   .cards-desk {
      display: flex;
      justify-content: space-around;
   }

   .benefits {
      max-width: 372px;
      border-radius: 0.25rem;
      box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, .1);
      overflow: hidden;
   }

   .benefits__header {
      color: var(--primary-tigo);
      padding: 2.5rem 1rem;
      border-top: 3px solid #00c8ff;
      border-bottom: 1px solid #e5eaf2;
   }

   .benefits__header div:nth-of-type(1) {
      font-size: 18px;
   }

   .benefits__header div:nth-of-type(2) {
      font-size: 28px;
   }

   .benefits__header div:nth-of-type(3) {
      font-size: 18px;
   }

   .benefits__header div:nth-of-type(4) {
      font-size: 11px;
      color: var(--tertiary-tigo);
   }

   .benefits__items {
      padding: 0;
      margin: 0;
   }

   .benefits__items > li {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      width: 100%;
      padding: 8px;
      list-style: none;
      font-size: 14px;
      color: var(--tertiary-tigo);
   }

   .benefits__items > li > span {
      text-align: left;
   }
}