.btn-wpp {
   position: fixed;
   bottom: 10px;
   right: 20px;
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 12px 15px;
   color: #fff;
   background-color: rgb(7, 94, 84);
   border: none;
   border-radius: 30px;
   text-decoration: none;
}

a:hover {
   color: #fff;
   text-decoration: none;
}