.form {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   background-color: white;
   border-radius: .25rem;
   padding: 1rem;
   max-width: 900px;
   width: 100%;
}

.form__title {
   color: var(--primary-tigo);
   font-size: 1.25rem;
   font-weight: 400;
   line-height: 1.875rem;
}

.form__item {
   position: relative;
}

.form__item-label {
   position: absolute;
   top: -7px;
   left: 10px;
   padding: 0 4px;
   background: #fff;
   color: var(--tertiary-tigo);
   font-size: .75rem;
   line-height: 1.2;
   overflow: hidden;
}

.form__item-field {
   width: 100%;
   padding: 0.6875rem;
   border-radius: .25rem;
   color: var(--tertiary-tigo);
   border: 0.0625rem solid var(--tertiary-tigo);
   outline: none;
}

.form__item-field::placeholder {
   color: var(--tertiary-tigo);
}

.form__item-field:focus {
   border-color: var(--primary-tigo);
}

.form__item-field:focus + .form__item-label {
   color: var(--primary-tigo);
}

.form__info {
   display: flex;
   flex-direction: column;
   margin: 1rem 0;
   font-size: 0.875rem;
   color: var(--tertiary-tigo);
}

.form__info-link {
   color: var(--secondary-tigo);
}

.form__btn {
   align-self: flex-end;
   width: fit-content;
   color: #fff;
   background: #b3c3d8;
   border: none;
   padding: 0.375rem 0.75rem;
   font-size: 0.875rem;
   font-weight: 600;
   border-radius: 1rem;
}

@media screen and (min-width: 1023px) {
   .form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      max-width: 331px;
      padding: 32px 48px;
      margin-left: 2rem;
   }
}